[alias]
	glog = log --graph --pretty=format:'%C(auto)%h%Creset %C(auto)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=relative
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --rebase
[branch]
	autosetuprebase = always
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = less -FX
[credential]
	helper = cache
[include]
	path = ~/.gitconfig_local
[merge]
	tool = meld
[mergetool]
	trustExitCode = true
[push]
	default = simple
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[url "ssh://git@cl-gitlab.intra.codilime.com"]
    insteadOf = https://cl-gitlab.intra.codilime.com
[url "https://ssd-git.juniper.net/"]
	insteadOf = git@ssd-git.juniper.net:
[user]
	name = Daniel Furman
